@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-zinc-900 h-full overflow-x-hidden;
}

#__next {
    @apply h-full;
}

html {
  @apply h-full;
}

html ::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: transparent;
}

html ::-webkit-scrollbar {
  width: 0px;
  background-color: transparent;
}

html {
  scroll-behavior: smooth;
}